<?xml version="1.0"?>
<!--
  有关如何配置 ASP.NET 应用程序的详细信息，请访问
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
	<connectionStrings>
		<add name="SRConnectionString1" connectionString="Data Source=localhost;Initial Catalog=APManager;user id=sa;password=123456;Connect Timeout=360; Asynchronous Processing=true" providerName="System.Data.SqlClient"/>
		<add name="SRConnectionString2" connectionString="Data Source=10.20.66.210;Initial Catalog=NewsData;user id=sa;password=123!@#qwe;Connect Timeout=360; Asynchronous Processing=true" providerName="System.Data.SqlClient"/>
    <add name="SRConnectionString" connectionString="Data Source=10.20.66.203;Initial Catalog=DataFusion;user id=sa;password=123!@#qwe;Connect Timeout=360; Asynchronous Processing=true" providerName="System.Data.SqlClient"/>
		<add name="SRConnectionString3" connectionString="Data Source=116.62.142.234;Initial Catalog=APManager;user id=ctrtest;password=123456;Connect Timeout=360; Asynchronous Processing=true" providerName="System.Data.SqlClient"/>
	</connectionStrings>
	<appSettings>
		<add key="ExcelMaxRow" value="1048576"/>
    <add key="Cookie" value=".AspNet.ApplicationCookie=zeDNV8rk2QGpJ9EfjrGlgf7SAfeRYSjtMwenhjpo-HrhuecwIFFmi2Sa3OAxO9ap1XpZEjuMS80IeOT4IXUVGyIGkICGggNY7beZdNvwBU7XNbIl_qRTlJo9nrz7fd42U0zWHmg7ODaOhMu0O_uzPyepzARF9ZqfjuTcqUbXJC8BxUYyr-xuRWXHhwtRIncKgZP74I55zrqyRpl1muGsFegNqzT09GCKXP5HTkS1Tiy5N9Ss-Z82emmTXe8XHvoYhSRvmvfJzNjhAxIGch_iEGDWuxjDTndZ9sVSEqZI2_VEM2lGgmak4Bjwpo61Pxn1esM5TqYBwW5FkzpiW8PgxnVPxYqtmiPuypVkhIcstB6xXbhBCzkAEKf9SR0hcSlJCxGz3khY-woSPFCYybQU8IZeIQordQcyOEV7gMkpkDJ4eUUxZmKVkrSVXlRv8jfnojP8a0ctZdeCrpEQBczOCJ1M6NKVMMfJTKJLBCMij9DZOUjhvTX36bW1vYv8e7bE"/>
    <add key="TableName" value="NewsDataView"/>
	</appSettings>
	<system.web>
		<compilation debug="true" targetFramework="4.0">
			<assemblies>
      </assemblies>
		</compilation>
		<httpRuntime maxRequestLength="10240000" useFullyQualifiedRedirectUrl="true" executionTimeout="36000" maxQueryStringLength="10240"/>
		<sessionState mode="InProc" cookieless="false" timeout="600"/>
	</system.web>
	<system.webServer>
		<security>
			<requestFiltering>
				<requestLimits maxQueryString="10240"></requestLimits>
			</requestFiltering>
		</security>
	</system.webServer>
</configuration>
