<?xml version="1.0"?>
<configuration>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup>
  <connectionStrings>
    <add name="SRConnectionString" connectionString="Data Source=10.20.66.210;Initial Catalog=NewsData;user id=sa;password=123!@#qwe;Connect Timeout=360; Asynchronous Processing=true" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <appSettings>
    <add key="SendResultURL" value="http://218.241.201.165:30008/Logic/GetNewsFromSpider.ashx"/>
    <add key="GetAccountURL" value="http://218.241.201.165:30008/Logic/CGTNNewsData.ashx?Type=27"/>
  <!--<add key="SendResultURL" value="https://localhost:44341/Logic/GetNewsFromSpider.ashx"/>-->
  </appSettings>
  <!--<system.net>
    <defaultProxy
       enabled="false"
       useDefaultCredentials="false">
      <proxy usesystemdefault="True"/>
      <bypasslist/>
      <module/>
    </defaultProxy>
  </system.net>-->
</configuration>
